
## <summary>policy for mynt</summary>


########################################
## <summary>
##	Transition to mynt.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`mynt_domtrans',`
	gen_require(`
		type mynt_t, mynt_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mynt_exec_t, mynt_t)
')


########################################
## <summary>
##	Execute mynt server in the mynt domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mynt_initrc_domtrans',`
	gen_require(`
		type mynt_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, mynt_initrc_exec_t)
')


########################################
## <summary>
##	Search mynt lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mynt_search_lib',`
	gen_require(`
		type mynt_var_lib_t;
	')

	allow $1 mynt_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read mynt lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mynt_read_lib_files',`
	gen_require(`
		type mynt_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, mynt_var_lib_t, mynt_var_lib_t)
')

########################################
## <summary>
##	Manage mynt lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mynt_manage_lib_files',`
	gen_require(`
		type mynt_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, mynt_var_lib_t, mynt_var_lib_t)
')

########################################
## <summary>
##	Manage mynt lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mynt_manage_lib_dirs',`
	gen_require(`
		type mynt_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, mynt_var_lib_t, mynt_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a mynt environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mynt_admin',`
	gen_require(`
		type mynt_t;
		type mynt_initrc_exec_t;
		type mynt_var_lib_t;
	')

	allow $1 mynt_t:process { ptrace signal_perms };
	ps_process_pattern($1, mynt_t)

	mynt_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 mynt_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, mynt_var_lib_t)

')

